#age-grid {
    -fx-alignment: center-left;
    -fx-hgap: 5;
    -fx-max-width: 470;
}

#age-box TitledLabel {
    -fx-pref-width: 80;
}

.age-datum {
    -fx-alignment: bottom-left;
    -fx-pref-width: 150;
}
