.scene-title {
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
}

.h1 {
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-text-fill: #003688;
    -fx-effect: dropshadow(gaussian, #d7d7d7, 5, .5, 1, 1);
    -fx-padding: 10 0 3 0;
}

.h2 {
    -fx-font-size: 1.2em;
    -fx-font-style: italic;
    -fx-text-fill: #000b88;
    -fx-effect: dropshadow(gaussian, #d7d7d7, 5, .5, 1, 1);
}

.h3 {
    -fx-font-size: 1.2em;
}

.h4 {

}

.section {
    -fx-padding: 15 0 0 0;
}

.subsection {
    -fx-padding: 10 0 0 5;
}

.spacer {
    -fx-pref-width: 15px;
}

Separator {
    -fx-padding: 5 0 5 0;
}

.add-item {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

.remove-item {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

.edit-item {
    -fx-pref-width: 80px;
    -fx-pref-height: 30px;
}

.edit-row {
    -fx-min-height: 40px;
    -fx-padding: 5px;
}

.ok-button {
    -fx-pref-width: 100px;
    -fx-pref-height: 30px;
}
.add-button {
    -fx-graphic: url("icons/add-button.png");
}

.remove-button {
    -fx-graphic: url("icons/remove-button.png");
}

.edit-button {
    -fx-graphic: url("icons/pencil.png");
}

.add-button, .remove-button, .edit-button {
    -fx-content-display: graphic-only;
    -fx-max-width: 20;
    -fx-max-height: 20;
    -fx-background-radius: 10px;
}

.remove-button-tiny {
    -fx-content-display: graphic-only;
    -fx-graphic: url("icons/remove-button-tiny.png");
    -fx-max-width: 20;
    -fx-max-height: 20;
    -fx-background-radius: 10px;
}

.clear-button {
    -fx-graphic: url("icons/clear.png");
    -fx-content-display: graphic-only;
    -fx-background-radius: 30px;
}

.card {
    -fx-border-color: black;
    -fx-border-insets: 15px;
    -fx-border-radius: 15px;
    -fx-background-color: white;
    -fx-background-radius: 15px;
    -fx-background-insets: 15px;

    -fx-effect: dropshadow(gaussian, gray, 10, .0, 4, 5);
}