.scene-title {
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
}


.spacer10px {
    -fx-pref-width: 10px;
    -fx-pref-height: 10px;
}

Separator {
    -fx-padding: 5 0 5 0;
}

.add-item {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

.remove-item {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

.edit-item {
    -fx-pref-width: 80px;
    -fx-pref-height: 30px;
}

.edit-row {
    -fx-min-height: 40px;
    -fx-padding: 5px;
}

.ok-button {
    -fx-pref-width: 100px;
    -fx-pref-height: 30px;
}
.add-button {
    -fx-graphic: url("icons/add-button.png");
}

.remove-button {
    -fx-graphic: url("icons/remove-button.png");
}

.edit-button {
    -fx-graphic: url("icons/pencil.png");
}

.add-button, .remove-button, .edit-button {
    -fx-content-display: graphic-only;
    -fx-max-width: 20;
    -fx-max-height: 20;
    -fx-background-radius: 10px;
}

.clear-button {
    -fx-graphic: url('icons/clear.png');
    -fx-content-display: graphic-only;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
