.title {
    -fx-font-size: 22pt;
    -fx-font-weight: bold;
    -fx-padding: 15px 5px 5px 5px;
}

.h1 {
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-padding: 15px 0px 5px 0px;
}

.h2 {
    -fx-font-size: 14pt;
    -fx-font-style: italic;
    -fx-text-fill: #003688;
    -fx-effect: dropshadow(gaussian, #d7d7d7, 5, .5, 1, 1);
    -fx-padding: 10px 0px 5px 0px;
}

.h3 {
    -fx-font-size: 12pt;
    -fx-font-style: italic;
}

.h4 {
    -fx-font-size: 12pt;
    -fx-padding: 10px 0px 5px 5px;
}

.section {
    -fx-border-color: rgba(128, 128, 128, 0.5);
    -fx-border-style: dotted;
    -fx-border-width: 1px;
    -fx-padding: 15px 0px 0px 15px;
}

TabPane {
    -fx-tab-min-width: 80px;
    -fx-tab-min-height: 30px;
}

Tab {
    -fx-font-size: 16px;
}

.add-item {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

.remove-item {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

.edit-item {
    -fx-pref-width: 80px;
    -fx-pref-height: 30px;
}

.edit-row {
    -fx-min-height: 40px;
    -fx-padding: 5px;
}