#publication-editable-box {
    -fx-pref-width: 800;
    -fx-background-color: white;
}

#publication-editable-box .edit-area TextField {
    -fx-padding: 10 0 10 0;
    -fx-pref-height: 30px;
}

#publication-editable-box .summary-area {
    -fx-padding: 10 0 10 0;
}
