#title-label {
    /* Publication title is slightly larger than the other texts. */
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

#journal-label {
    -fx-font-style: italic;
}

#publication-bits * {
    -fx-padding: 0 5 0 0;
}
