#publication-editable-box {
    -fx-pref-width: 800;
    -fx-background-color: white;
}

.edit-area TextField {
    -fx-padding: 10 0 10 0;

}

.tl-text-field {
    -fx-pref-height: 25;
    -fx-max-width: 250;
}

#publication-editable-box .summary-area {
    -fx-padding: 10 0 10 0;
}
