.journal {
    -fx-font-style: italic;
}

.content * {
    -fx-padding: 0px 5px 0px 0px;
}

.details Label {
    -fx-padding: 0px 5px 0px 0px;
}

.publication-editable-box {
    -fx-pref-width: 800px;
}

.publication-editable-box .edit-area TextField {
    -fx-padding: 10 0 10 0;
    -fx-pref-height: 30px;
}

.publication-editable-box .summary-area {
    -fx-padding: 10 0 10 0;
}
