#phenotype-tabs .tab-header-area .tab {
    -fx-pref-height: 40;
    -fx-pref-width: 150;
    -fx-background-color: white;
    -fx-border-color: transparent black black transparent;
    -fx-border-width: 0 1px 5px 0;
}

#phenotype-tabs .tab-header-background {
    -fx-background-color: grey;
    -fx-border-color: transparent #4b4b4b transparent transparent;
    -fx-border-width: 0 0 5px 0;
}

#phenotype-tabs .headers-region {
    -fx-border-color: transparent transparent transparent grey;
    -fx-border-width: 1px;
}

#hpo-terms-table .column-header-background {
    -fx-border-color: grey;
    -fx-border-width: 0 0 5px 0;
}

#hpo-terms-table .column-header {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-width: 0 1px 0 1px;
}
