.root {
    -fx-pref-width: 1600;
    -fx-pref-height: 800;


    -fx-font-size: 11pt;
    -fx-font-family: "ui-sans-serif";
    -fx-background-color: transparent;

    colprimary: #4087c9;
    colmedium: #b3b3b3;
    colsecondary: #e8d49d;

    /*
    Other secondary colors:
    - #ba3b46e5
    - #524948f2
    - #26a671
    - #344055
     */
}


.h1 {
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-text-fill: colprimary;
    -fx-padding: 10 0 3 0;
}

.h2 {
    -fx-font-size: 1.2em;
    -fx-font-style: italic;
    -fx-text-fill: derive(colprimary, -30%);
}

.h3 {
    -fx-font-size: 1.2em;
    -fx-text-fill: derive(colmedium, -50%);
    -fx-effect: dropshadow(gaussian, #dadada, 2, .5, 1, 1);
}

.h4 {

}
