#outer-box {
    -fx-pref-width: 1200px;
    -fx-padding: 5;
}

.h2 {
    -fx-min-width: 220px;
}

.h3 {
    -fx-min-width: 220px;
}

.row {
    -fx-padding: 5px;
}

Button {
    -fx-min-width: 120px;
    -fx-min-height: 30px;
}

TextField {
    -fx-min-height: 30px;
    -fx-min-width: 200px;
}

ProgressBar {
    -fx-min-height: 50px;
    -fx-min-width: 35px;
}

.progress-bar-placeholder {
    -fx-min-height: 50px;
    -fx-min-width: 35px;
}