#outer-box {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 5px;
}

#clear-button {
    -fx-min-width: 80px;
    -fx-min-height: 30px;
}

#summary-label {
    -fx-pref-width: 50px;
}

#message-label {
    -fx-pref-width: 300px;
}
