TitledLabel {
    -fx-padding: 0 30 0 0;
}

#credential-row {
    -fx-padding: 15 0 0 0;
}

#age-row {
    -fx-padding: 15 0 0 0;
}

#top-level {
    -fx-background-color: white;
}

.credential-col {
    -fx-padding: 0 20 0 0;
}

TitledTextField TextField {
    -fx-pref-width: 100;
}
