#credentials-box {
    /* A column on the left for showing the credentials and setting the encounter time. */
    -fx-max-width: 300;
}

#add-terms-tab-pane {
    -fx-tab-min-width: 150;
    -fx-tab-min-height: 30;
}
