#phenotypicFeatureTitle {
    -fx-alignment: center-left;
}

#phenotypicFeatureTitle Label {
    -fx-padding: 5px;
}

#termId {
    -fx-font-size: 14;
    -fx-text-fill: #707070;
}

#termName {
    -fx-font-size: 18;
    -fx-text-fill: #444444;
}