.step-box {
    -fx-background-color: white;
    -fx-padding: 0 10 0 10;
}

.spacing-box {
    -fx-padding: 15 0 0 0;
}

.stepper-instruction {
    -fx-font-style: italic;
    -fx-font-size: 0.9em;
    -fx-text-fill: derive(-col-medium, -50%);
    -fx-padding: 5 0 10 10;
}