.tm-title {
    -fx-font-size: 1.2em;
    -fx-text-fill: navy;
    -fx-effect: dropshadow(gaussian, #858585, 5, .5, 1, 1);
}

.mining-results-box {
    -fx-pref-width: 600;
    -fx-pref-height: 400;
}

.accepted {
    -fx-underline: true;
    -fx-text-fill: red;
}

.mined {
    -fx-text-fill: red;
}

.close-tooltip-button {
    -fx-background-color: red;
    -fx-font-size: 6;
    -fx-text-fill: white
}

.tooltip {
    -fx-font-size: 12;
}
