.tm-title {
    -fx-font-size: 1.2em;
    -fx-text-fill: navy;
    -fx-effect: dropshadow(gaussian, #858585, 5, .5, 1, 1);
}

.mining-results-box {
    -fx-pref-width: 600;
    -fx-pref-height: 400;
}

.accepted {
    -fx-underline: true;
}

.rejected {
    -fx-strikethrough: true;
}

.mined {
    -fx-text-fill: red;
}

.close-tooltip-button {
    -fx-background-color: red;
    -fx-font-size: 6;
    -fx-text-fill: white
}

.tooltip {
    -fx-font-size: 15;
}

.tooltip-box {
    -fx-padding: 5 5 5 5;
    -fx-spacing: 15;
}

.id-label {
    -fx-text-fill: orange;
}

.name-label {
    -fx-text-fill: deepskyblue;
}
