#payload-text-area {
    -fx-max-height: 700;
    -fx-alignment: top-left;
}

#process-btn {
    /* The width is set to Infinity in the FXML file. */
    -fx-min-width: 120;
    -fx-min-height: 30;
}
