#stepper-box {
    -fx-pref-width: 1400;
    -fx-alignment: top-center;
}

#stepper-content {
    -fx-pref-width: 1200;
    -fx-max-width: 1200;
    -fx-border-color: transparent black transparent black;
    -fx-effect: dropshadow(gaussian, -col-medium, 5, .25, 1, 1);
}

#button-bar {
    -fx-background-color: white;
    -fx-padding: 5;
}