RadioButton {
    -fx-padding: 5px;
}

TextField {
    -fx-pref-height: 30;
}

Button {
    -fx-pref-height: 30;
    -fx-pref-width: 120;
}

ComboBox {
    -fx-pref-height: 30;
}

.individual-info-label {
    -fx-font-weight: bold;
    -fx-padding: 0px 10px 0px 0px;
    -fx-pref-width: 80px;
}