TabPane {
    -fx-tab-min-width: 80px;
    -fx-tab-min-height: 30px;
}

.pedigreeTab {
    /*-fx-background-color: rgb(226, 215, 255);*/
    -fx-font-size: 16px;
}

.variantsTab {
    /*-fx-background-color: rgb(255, 255, 255);*/
    -fx-font-size: 16px;
}