SearchableComboBox {
    -fx-min-height: 30px;
}

RadioButton {
    -fx-padding: 10px 0px 5px 0px;
}

Separator {
    -fx-padding: 0px 5px 0px 5px;
}

ListView {
    -fx-min-height: 46px;
    -fx-pref-height: 115px;
}

Button {
    -fx-padding: 5px 0px 5px 0px;
    -fx-min-height: 30px;
    -fx-min-width: 120px;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.column {
    -fx-padding: 0px 10px 0px 0px;
}

.row {
    -fx-padding: 10px 0px 5px 0px;
}

.row > #id-column {
    -fx-max-width: 400px;
}

.row > #age-column {
    -fx-max-width: 200px;
}

.row > #sex-column {
    -fx-max-width: 200px;
}

.column > HBox {
    -fx-padding: 10px 0px 5px 0px;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#id-column > HBox {
    -fx-min-height: 40px;
}

#id-column > HBox > Label {
    -fx-padding: 0px 0px 0px 5px;
    -fx-min-width: 90px;
    -fx-min-height: 30px;
}

#id-column > HBox > TextField {
    -fx-min-width: 90px;
    -fx-min-height: 30px;
}

#id-column > HBox > {
    -fx-padding: 0px 0px 0px 5px;
}

#age-column > HBox {
    -fx-min-height: 40px;
}

#age-column > HBox > Label {
    -fx-padding: 0px 0px 0px 5px;
    -fx-min-width: 90px;
    -fx-min-height: 30px;
}

#age-column > HBox > TextField {
    -fx-max-width: 100px;
    -fx-min-height: 30px;
}

#age-column > HBox > SearchableComboBox {
    -fx-max-width: 100px;
}

#phenotype-description-box {
    -fx-min-height: 40px;
}