#titled-pane-box {
    -fx-animated: false;
}

#titled-pane-box .title .text {
    -fx-alignment: center-left;
}

#phenotype-tabs {
    -fx-pref-height: 200;
}

#phenotype-tabs .tab-header-background {
}

#phenotype-tabs .headers-region {
}

#hpo-terms-table .column-header-background {
}

#hpo-terms-table .column-header {
}

#diseases-table {
    -fx-pref-height: 150;
}

#disease-status {
    -fx-pref-width: 85;
}

#disease-id {
    -fx-pref-width: 130;
}

#disease-name {
    -fx-pref-width: 200;
    -fx-max-width: 300;
}
