#titled-pane-box {
    -fx-animated: false;
}

#titled-pane-box .title .text {
    -fx-alignment: center-left;
}

#phenotype-tabs .tab-header-area .tab {
    -fx-pref-height: 40;
    -fx-pref-width: 150;
}

#phenotype-tabs .tab-header-background {
}

#phenotype-tabs .headers-region {
}

#hpo-terms-table .column-header-background {
}

#hpo-terms-table .column-header {
}
